Challenge5/HC5.json
[{"id":"eac81966.5b5d28","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8e2caa8c.0420c","type":"tcp in","z":"eac81966.5b5d28","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":340,"wires":[["8b334c82.042878"]]},{"id":"8b334c82.042878","type":"function","z":"eac81966.5b5d28","name":"MQTT msg formatter","func":"var dividedmsg = msg.payload.split(\"_\");\nvar value = dividedmsg[1];\nvar topic = dividedmsg[3];\nif(value<=70){\n    return{\n    \"payload\": 'field'+topic+'='+value+'&status=MQTTPUBLISH'\n    };\n}","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["ef5a5dca.301888"]]},{"id":"ef5a5dca.301888","type":"mqtt out","z":"eac81966.5b5d28","name":"MQTT","topic":"channels/1070817/publish/0DOKSHLOSPXGD3KA","qos":"0","retain":"false","broker":"12dffafa.74e04d","x":610,"y":340,"wires":[]},{"id":"12dffafa.74e04d","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
